#map {
    height: 40vmax;
    
}

.content {
    margin: 15px 0px 15px 0px;
}

p {
    text-align: justify;
}

.handle {
    cursor: grab; /* Wskazuje możliwość przeciągania */
}
.handle:hover {
    background-color: #fcfcfc; /* Delikatnie jaśniejsze tło przy najechaniu */
    cursor: grabbing; /* Zmiana kursora przy przeciąganiu */
}