<!-- New Point Modal -->
<!--new Modal -->
<div class="modal fade" id="pointModal" tabindex="-1" aria-labelledby="pointModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pointModalLabel">Punkt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="pointForm">
                    <!-- Pole Kod -->
                    <div class="mb-3">
                        <label for="pointCode" class="form-label">Kod</label>
                        <input type="text" class="form-control" id="pointCode" name="code">
                    </div>
                    <!-- Pole Opis -->
                    <div class="mb-3">
                        <label for="pointDescription" class="form-label">Opis</label>
                        <input type="text" class="form-control" id="pointDescription" name="description">
                    </div>
                    <!-- Rodzaj współrzędnych -->
                    <div class="mb-3">
                        <label class="form-label">Rodzaj współrzędnych</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="coordinateType" id="pointCoordinateEPSG2180" value="EPSG2180">
                                <label class="form-check-label" for="coordinateEPSG2180">EPSG:2180</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="coordinateType" id="coordinateWSG84" value="WSG84" checked>
                                <label class="form-check-label" for="coordinateWSG84">WSG:84</label>
                            </div>
                        </div>
                    </div>
                    <!-- współrzędne EPSG:2180 -->
                    <div id="epsg2180Fields" class="coordinates row mb-3">
                        <div class="col">
                            <label for="pointEasting" class="form-label">Easting</label>
                            <input type="text" class="form-control" id="pointEasting" name="easting">
                        </div>
                        <div class="col">
                            <label for="pointNorthing" class="form-label">Northing</label>
                            <input type="text" class="form-control" id="pointNorthing" name="northing">
                        </div>
                    </div>
                    <!-- współrzędne WSG:84 -->
                    <div id="wsg84Fields" class="coordinates row mb-3" style="display:none;">
                        <div class="col">
                            <label for="pointLongitude" class="form-label">Długość</label>
                            <input type="text" class="form-control" id="pointLongitude" name="longitude">
                        </div>
                        <div class="col">
                            <label for="pointLatitude" class="form-label">Szerokość</label>
                            <input type="text" class="form-control" id="pointLatitude" name="latitude">
                        </div>
                    </div>
                    <!-- Przyciski -->
                    <button type="submit" class="btn btn-primary" id="saveChanges">Zapisz</button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Anuluj</button>
                </form>
            </div>
        </div>
    </div>
</div>




<script>


    function handleEditButtonClick()
    {
        $('#table').on('click', '.edit-btn', function() {
            // Pobranie wiersza, w którym znajduje się kliknięty przycisk
            let row = $(this).closest('tr');
            // Pobranie danych z tego wiersza z użyciem DataTables
            let table = $('#table').DataTable();
            let rowData = table.row(row).data();
            // Zapisanie danych w zmiennej pointData
            let pointData = {
                code: rowData[0],
                description: rowData[1],
                area: rowData[2],
                easting: rowData[3],
                northing: rowData[4],
                id: row.attr('id')  // Pobranie atrybutu id z wiersza
            };

            // ustawienie argumentów żądania formularza
            $('#pointForm').attr('action', '/admin/points/' + rowData.id);
            $('#pointForm').attr('method', 'POST'); // Ustawienie metody POST, a Laravel obsłuży PUT przez ukryte pole _method
            $('#pointForm').append('<input type="hidden" name="_method" value="PUT">');
            // wypełnienie formularza danymi
            $('#pointModalLabel').text('Edytuj Punkt');
            $('#pointCode').val(pointData.code);
            $('#pointDescription').val(pointData.description);
            $('#pointEasting').val(pointData.easting);
            $('#pointNorthing').val(pointData.northing);

            let wsg84coords = transformToWSG84(pointData.easting, pointData.northing);
            $('#pointLatitude').val(Number(wsg84coords.latitude.toFixed(5)));
            $('#pointLongitude').val(Number(wsg84coords.longitude.toFixed(5)));

            // if (rowData.coordinateType === 'WSG84') {
            //     $('#coordinateWSG84').prop('checked', true);
            // } else {
            //     $('#coordinateEPSG2180').prop('checked', true);
            // }
            toggleCoordinateFields(); // Ustaw widoczność pól współrzędnych

            $('#pointModal').modal('show');
        });
    }

    function toggleCoordinateFields() 
    {
        if ($('#coordinateWSG84').is(':checked')) {
            $('#wsg84Fields').show();
            $('#epsg2180Fields').hide();
        } else if ($('#coordinateEPSG2180').is(':checked')) {
            $('#wsg84Fields').hide();
            $('#epsg2180Fields').show();
        }
    }

</script>